<!DOCTYPE html>
<html lang="pt_br" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='assets/fonte.css'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        .alert{
          padding: 10px !important;
          margin-bottom: 0px !important;
        }
    </style>

  </head>

  <body ng-app="app" ng-controller="MainController" ng-cloak>

    <div layout="row">
      <div flex="25" hide-sm hide-xs></div>
      <div flex="50" flex-xs = "100" flex-sm = "100">
        <div class="panel panel-primary">
          <div class="panel-heading"><h3>Pesquisa Satisfação</h3></div>
          <div flex layout-padding>
            <h5 class="label-informacao md-subhead">
              &nbsp A sua opinião ajuda-nos a melhorar e é muito importante para nós! Colabore conosco respondendo as 5 questões abaixo e ao final, adquira um cupom para concorrer a prêmios.
              É rapidinho! 
            </h5>

            <h5 class="label-informacao md-subhead">
              Por favor, avalie os pontos abaixo com notas de 1 a 5 com total sinceridade. Você não precisa se identificar.
            </h5>
          </div>
          <div class="panel-body">

            <form name="formPesquisa"> 
              <div layout="row" layout-align="center center" layout-wrap>
               <a href="#" data-toggle="modal" data-target="#modalRegulamento">
               <h5 class="label-perguntas md-subhead">(Ver regulamento do sorteio e detalhamento dos prêmios)</h5>
               </a>
             </div> <hr/>

             <div class="alert alert-danger" ng-if="isInvalidQ1" id="validQ1"> 
              <a class="close" aria-label="close" ng-click="sumirMsgValidacao('isInvalidQ1')">&times;</a>
              A questão 1 é obrigatória.
              </div>

            <p>
              <label>
               <h4 class="label-perguntas">{{pesquisa.pergunta1.pergunta}}</h4> 
              </label>
            </p>
              <md-radio-group class = "md-primary" ng-model = "pesquisa.pergunta1.opcao">
                <md-radio-button  value="ruim">1-Ruim</md-radio-button>
                <md-radio-button  value="regular">2-Regular</md-radio-button>
                <md-radio-button  value="bom">3-Bom</md-radio-button>
                <md-radio-button  value="muitoBom">4-Muito Bom</md-radio-button>
                <md-radio-button  value="excelente">5-Excelente</md-radio-button>
              </md-radio-group>
              <md-input-container>
                <label><h6>Comentários(opcional)</h6></label>
                <textarea name="pergunta1" ng-model = "pesquisa.pergunta1.comentario"
                 cols="100">
               </textarea>
              </md-input-container>

              <div class="alert alert-danger" ng-if="isInvalidQ2" id="validQ2"> 
                <a class="close" aria-label="close" ng-click="sumirMsgValidacao('isInvalidQ2')">&times;</a>
                A questão 2 é obrigatória.
              </div>
            <p>
              <label>
               <h4 class="label-perguntas">{{pesquisa.pergunta2.pergunta}}</h4> 
              </label>
            </p>
              <md-radio-group class = "md-primary" ng-model = "pesquisa.pergunta2.opcao">
               <md-radio-button  value="ruim">1-Ruim</md-radio-button>
                <md-radio-button  value="regular">2-Regular</md-radio-button>
                <md-radio-button  value="bom">3-Bom</md-radio-button>
                <md-radio-button  value="muitoBom">4-Muito Bom</md-radio-button>
                <md-radio-button  value="excelente">5-Excelente</md-radio-button>
              </md-radio-group>
              <md-input-container>
                <label><h6>Comentários(opcional)</h6></label>
                <textarea name="pergunta2" ng-model = "pesquisa.pergunta2.comentario"
                 cols="100">
               </textarea>
              </md-input-container>

             <div class="alert alert-danger" ng-if="isInvalidQ3" id="validQ3"> 
              <a class="close" aria-label="close" ng-click="sumirMsgValidacao('isInvalidQ3')">&times;</a>
              A questão 3 é obrigatória.
            </div>
            <p>
              <label>
               <h4 class="label-perguntas">{{pesquisa.pergunta3.pergunta}}</h4> 
              </label>
            </p>
              <md-radio-group class = "md-primary" ng-model = "pesquisa.pergunta3.opcao">
               <md-radio-button  value="ruim">1-Ruim</md-radio-button>
                <md-radio-button  value="regular">2-Regular</md-radio-button>
                <md-radio-button  value="bom">3-Bom</md-radio-button>
                <md-radio-button  value="muitoBom">4-Muito Bom</md-radio-button>
                <md-radio-button  value="excelente">5-Excelente</md-radio-button>
              </md-radio-group>
              <md-input-container>
                <label><h6>Comentários(opcional)</h6></label>
                <textarea name="pergunta3" ng-model = "pesquisa.pergunta3.comentario"
                 cols="100">
               </textarea>
              </md-input-container>

              <div class="alert alert-danger" ng-if="isInvalidQ4" id="validQ4"> 
                <a class="close" aria-label="close" ng-click="sumirMsgValidacao('isInvalidQ4')">&times;</a>
                A questão 4 é obrigatória.
              </div>
               <p>
              <label>
               <h4 class="label-perguntas">{{pesquisa.pergunta4.pergunta}}</h4> 
              </label>
            </p>
              <md-radio-group class = "md-primary" ng-model = "pesquisa.pergunta4.opcao">
                <md-radio-button  value="ruim">1-Ruim</md-radio-button>
                <md-radio-button  value="regular">2-Regular</md-radio-button>
                <md-radio-button  value="bom">3-Bom</md-radio-button>
                <md-radio-button  value="muitoBom">4-Muito Bom</md-radio-button>
                <md-radio-button  value="excelente">5-Excelente</md-radio-button>
              </md-radio-group>
              <md-input-container>
                <label><h6>Comentários(opcional)</h6></label>
                <textarea name="pergunta4" ng-model = "pesquisa.pergunta4.comentario"
                 cols="100">
               </textarea>
              </md-input-container>

              <div class="alert alert-danger" ng-if="isInvalidQ5" id="validQ5"> 
                <a class="close" aria-label="close" ng-click="sumirMsgValidacao('isInvalidQ5')">&times;</a>
                A questão 5 é obrigatória.
              </div>
               <p>
              <label>
               <h4 class="label-perguntas">{{pesquisa.pergunta5.pergunta}}</h4> 
              </label>
            </p>

            <div layout="row" layout-xs="column">
            <div flex="initial"><h5 class="label-informacao md-caption"><- Improvável...</h5></div>
              <div flex="initial"> 
                <md-radio-group class="md-primary" layout="row" ng-model = "pesquisa.pergunta5.opcao">
                  <md-radio-button  value="um">1</md-radio-button>
                  <md-radio-button  value="dois">2</md-radio-button>
                  <md-radio-button  value="tres">3</md-radio-button>
                  <md-radio-button  value="quatro">4</md-radio-button>
                  <md-radio-button  value="cinco">5</md-radio-button>
                </md-radio-group>
              </div>

              <div flex="initial" flex-offset-xs="60">
              <h5 class="label-informacao md-caption">...Muito Provável -></h5> </div>
            </div>

              

             <div layout="row" layout-align="center center" layout-margin>
                <md-button flex-xs="100" class="md-raised md-primary" ng-click="enviar()">enviar</md-button>
              </div>
            </form>
          
            
          </div>
        </div>
      </div>
      <div flex="25" hide-sm hide-xs></div>
     
    </div>
    

    <!-- Bibliotecas Angular-Material -->
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <!-- Bibliotecas Jquery + Boostrap -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="./src/app.js"></script>
    <script src="./src/main/MainController.js"></script>
    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider){
                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

    <div id="modalRegulamento" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
         <div class="modal-body">
          <div data-ng-include="'./src/pesquisa/view/modal.html'"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    

  </body>
</html>
