/************* Estilos Padrão do Angular Material********************/
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background-color: #EEEEEE !important;
}

header {
  background-image: url(img/banner_principal.png);
  background-size: cover;
  background-position: top center;
  height: 100%;
}

.icon10 {
  width: 150px;
  height: 150px;
}

.tam-1, .tam-2, .tam-3{
 font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
} 

.tam-3{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media(max-width: 768px) {
  header {
  background-image: url(img/banner_principal_responsivo.png);
  }

  .tam-3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icon10 {
    width: 90px;
    height: 90px;
  }
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}



md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

/************* Meus Estilos personalizados********************/

.principal-banner {
  color: #FFF;
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

@media(min-width: 992px) {
  .principal-banner {
    left: 0;
    transform: translate(0, -80%);
    width: 70%;
  }

  .principal-bannerWrapper {
    position: relative;
    height: 100%;
  }
}
